body{
    background-color: rgb(0, 0, 0);
}

div{
    border-width: 3px;
    width: 10em;
    height:10em;
    background-color: white;
}
.my-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Smooth color change */
}

/* Hover effect */
.my-button:hover {
    background-color: #54829d; /* Slightly darker green */
}

/* Active button styling */
.my-button:active {
    background-color: #e9e9aa; /* Even darker green */
}