body{
    text-align: center;
    color:red;
    background-color: aqua;
}

#button{
    text-align: center;
    border:solid black 3px;
    height:10em;
    width:10em;
    background-color: gold;
}
#label{
    text-align: center;
    font-size: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color:rgb(57, 8, 252)
}

#button:hover{
    background-color:black
}